body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator  {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
  grid-column: span 2;
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator > button:hover,
.calculator > button:focus {
  background-color: rgba(255, 255, 255, 0.95);
}


.result {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.result .previous {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;

}

.result .current {
  color: white;
  font-size: 2.5rem;
}
